$primary-color: rgb(169, 169, 169);
$secondary-color: rgb(6, 131, 163);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.848),rgba(0, 0, 0, 0.881)),url(../assets/background-33.jpg);
    background-position: center;
    background-size: cover;

    header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 16px;

        .site-logo {
            text-decoration: none;
            font-weight: bolder;
            font-size: 24px;
            color: $primary-color;
            font-family: cursive;
            font-style: italic;
        }

        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 12px;
                    position: relative;

                    a {
                        text-decoration: none;
                        color: $primary-color;
                    }
                }

                li::after {
                    content: "";
                    width: 0;
                    height: 3px;
                    border-radius: 5px;
                    background: $secondary-color;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    transition: 1s;
                }

                li:hover::after{
                    width: 100%;
                }
            }

            .user-profile-img {
                width: 38px;
                height: 36px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}