* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.848), rgba(0, 0, 0, 0.856)), url("D:/development/react-js/react-dev/src/assets/images/bg/background-33.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

h3 {
  color: white;
}

header {
  width: 100%;
  height: 100%;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .site-logo {
  text-decoration: none;
  font-size: 1.3rem;
  color: rgba(206, 206, 238, 0.907);
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
}
header .navigation .link {
  display: inline-block;
  margin-left: 12px;
  text-decoration: none;
  color: rgba(206, 206, 238, 0.907);
  position: relative;
}
header .navigation .link::after {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 5px;
  background: rgb(8, 120, 172);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 1s;
}
header .navigation .link:hover::after {
  width: 100%;
}
header .navigation .link .icon {
  font-size: 1.2rem;
  margin-right: 5px;
}
header .user-profile-img {
  width: 38px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}