

.skills-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;

    .side-bar {
        width: 100%;
        height: 100%;
        background: rgba(136, 135, 135, 0.628);
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            padding: 7px;
            font-size: 1.3em;
        }

        .link {
            text-decoration: none;
            color: rgb(12, 6, 182);
            font-style: italic;
            font-weight: bold;
        }
    }
}